@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}

@if (Model.FileResources.Count == 0)
{
    <h6 style="text-align:center;font-size:24px;">空空如也</h6>
}
else
{
    <table class="table table-striped">
        <tbody>
            @foreach (var fr in Model.FileResources)
            {
                <tr>
                    <td>
                        <a asp-page="Video" asp-route-id="@fr.Id">@fr.Name</a>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" asp-page="PortalLink" asp-route-id="@fr.Id">获取传送卷轴</a>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <form method="post" asp-page-handler="Delete" asp-route-id="@fr.Id">
                                    <input class="btn btn-link" value="删除这个资源" type="submit"/>
                                </form>                                
                            </div>
                        </div>
                        @*<button class="btn btn-primary">删除</button>
                        <a class="btn btn-primary" asp-page="PortalLink" asp-route-id="@fr.Id">获取传送卷轴</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}